CT_CONFIG_VERSION="4"
CT_PREFIX_DIR="/usr/${CT_TARGET}"
CT_PATCH_BUNDLED_LOCAL=y
CT_LOCAL_PATCH_DIR="${CT_TOP_DIR}/patches"
CT_KERNEL_LINUX=y
CT_GLIBC_V_2_17=y
CT_GLIBC_EXTRA_CFLAGS="-Wno-missing-attributes -Wno-array-bounds -Wno-array-parameter -Wno-stringop-overflow -Wno-maybe-uninitialized -Wno-implicit-int"
CT_CC_LANG_CXX=y
